{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block header %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{blog.capa.url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Cadastrar usuário</h1>
                </div>
            </div>
        </div>
    </div>
</header>

{% endblock header %}

{% block conteudo %}

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    <form class="row g-3">
                        <div class="col-md-6">
                          <label for="inputnome4" class="form-label">Nome</label>
                          <input type="text" class="form-control" id="inputnome4">
                        </div>
                        <div class="col-md-6">
                          <label for="inputCPF4" class="form-label">CPF</label>
                          <input type="text" class="form-control" id="inputCPF4">
                        </div>
                        <div class="col-md-6">
                          <label for="inputEmail4" class="form-label">Email</label>
                          <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-6">
                          <label for="inputEmail4" class="form-label">Confirmar email</label>
                          <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-12">
                          <label for="inputAddress" class="form-label">Address</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="col-md-6">
                          <label for="inputPassword4" class="form-label">Senha</label>
                          <input type="password" class="form-control" id="inputPassword4">
                        </div>
                        <div class="col-md-6">
                          <label for="inputPassword4" class="form-label">Confirmar senha</label>
                          <input type="password" class="form-control" id="inputPassword4">
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>
</main>


{% endblock conteudo %}
